services:
  valkey:
    image: valkey/valkey:8-alpine

  clickhouse:
    image: clickhouse/clickhouse-server
    ports:
      - "8123:8123"
      - "9000:9000"
    healthcheck:
      test: wget --spider -q localhost:8123/ping
      interval: 2s
      retries: 10
    environment:
      CLICKHOUSE_DB: beacon
      CLICKHOUSE_USER: beacon
      CLICKHOUSE_PASSWORD: beacon

  dashboard:
    build:
      context: .
      dockerfile: build/dashboard/Dockerfile
    ports:
      - 4321:80
    depends_on:
      api:
        condition: service_started

  ingester:
    build:
      context: .
      dockerfile: build/ingester/Dockerfile
    ports:
      - "9091:9091"
    depends_on:
      health:
        condition: service_completed_successfully
      clickhouse:
        condition: service_started
      valkey:
        condition: service_started
      osrm:
        condition: service_started
      migrations:
        condition: service_completed_successfully
    environment:
      MQTT_BROKER: tcp://broker:1883
      CLICKHOUSE_ADDR: clickhouse:9000
      CLICKHOUSE_DATABASE: beacon
      CLICKHOUSE_USER: beacon
      CLICKHOUSE_PASSWORD: beacon
      OSRM_URL: "http://osrm:5000"
      REDIS_ADDR: valkey:6379
      METRICS_PORT: "9091"

  osrm:
    image: osrm/osrm-backend
    command: osrm-routed --algorithm mld /data/spain-latest.osrm
    volumes:
      - ./var/routing:/data
    ports:
      - 5000:5000

  feed:
    build:
      context: .
      dockerfile: build/feed/Dockerfile
    ports:
      - "9090:9090"
    environment:
      MQTT_BROKER: tcp://broker:1883
      METRICS_PORT: "9090"
    depends_on:
      health:
        condition: service_completed_successfully

  broker:
    image: emqx/emqx:latest

  health:
    image: hivemq/mqtt-cli
    command: test -h broker
    restart: on-failure

  api:
    build:
      context: .
      dockerfile: build/api/Dockerfile
    ports:
      - 8081:8081
      - 9092:9092
    environment:
      MQTT_BROKER: "tcp://broker:1883"
      HTTP_SERVER_PORT: "8081"
      METRICS_PORT: "9092"
      CLICKHOUSE_ADDR: clickhouse:9000
      CLICKHOUSE_DATABASE: beacon
      CLICKHOUSE_USER: beacon
      CLICKHOUSE_PASSWORD: beacon
      REDIS_ADDR: valkey:6379
    depends_on:
      health:
        condition: service_completed_successfully
      clickhouse:
        condition: service_started
      valkey:
        condition: service_started

  ui:
    image: terdia07/mqttui:latest
    ports:
      - 8080:5000
    environment:
      MQTT_BROKER: broker
      MQTT_PORT: 1883
    depends_on:
      health:
        condition: service_completed_successfully

  migrations:
    image: migrate/migrate
    volumes:
      - ./schema/clickhouse:/migrations
    command:
    - "-path"
    - "/migrations"
    - "-database"
    - "clickhouse://clickhouse:9000?username=beacon&password=beacon&database=beacon&x-multi-statement=true"
    - "up"
    restart: no
    depends_on:
      clickhouse:
        condition: service_healthy
