services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./schema/clickhouse:/docker-entrypoint-initdb.d
    environment:
      CLICKHOUSE_DB: beacon
      CLICKHOUSE_USER: beacon
      CLICKHOUSE_PASSWORD: beacon

  dashboard:
    build:
      context: .
      dockerfile: build/dashboard/Dockerfile
    ports:
      - 4321:4321
    depends_on:
      ui:
        condition: service_started

  ingester:
    build:
      context: .
      dockerfile: build/ingester/Dockerfile
    depends_on:
      health:
        condition: service_completed_successfully
      clickhouse:
        condition: service_started
    environment:
      MQTT_BROKER: tcp://broker:1883
      CLICKHOUSE_ADDR: clickhouse:9000
      CLICKHOUSE_DATABASE: beacon
      CLICKHOUSE_USER: beacon
      CLICKHOUSE_PASSWORD: beacon

  osrm:
    image: osrm/osrm-backend
    command: osrm-routed --algorithm mld /data/spain-latest.osrm
    volumes:
      - ./var/routing:/data
    ports:
      - 5000:5000

  feed:
    build:
      context: .
      dockerfile: build/feed/Dockerfile
    environment:
      MQTT_BROKER: tcp://broker:1883
    depends_on:
      health:
        condition: service_completed_successfully

  broker:
    image: emqx/emqx:latest

  health:
    image: hivemq/mqtt-cli
    command: test -h broker
    restart: on-failure

  ui:
    build:
      context: .
      dockerfile: build/ui/Dockerfile
    ports:
      - 8081:8081
    environment:
      MQTT_BROKER: "tcp://broker:1883"
      HTTP_SERVER_PORT: "8081"
      OSRM_URL: "http://osrm:5000"
      CLICKHOUSE_ADDR: clickhouse:9000
      CLICKHOUSE_DATABASE: beacon
      CLICKHOUSE_USER: beacon
      CLICKHOUSE_PASSWORD: beacon
    depends_on:
      health:
        condition: service_completed_successfully
      osrm:
        condition: service_started
      clickhouse:
        condition: service_started

  mqttui:
    image: terdia07/mqttui:latest
    ports:
      - 8080:5000
    environment:
      MQTT_BROKER: broker
      MQTT_PORT: 1883
    depends_on:
      health:
        condition: service_completed_successfully
