services:
  feed:
    build: feed
    environment:
      MQTT_BROKER: tcp://broker:1883
    depends_on:
      health:
        condition: service_completed_successfully

  broker:
    image: emqx/emqx:latest

  health:
    image: hivemq/mqtt-cli
    command: test -h broker
    restart: on-failure

  map:
    build: ui
    ports:
      - 8081:8081
    environment:
      MQTT_BROKER: "tcp://broker:1883"
      HTTP_SERVER_PORT: 8081
    depends_on:
      health:
        condition: service_completed_successfully

  ui:
    image: terdia07/mqttui:latest
    ports:
      - 8080:5000
    environment:
      MQTT_BROKER: broker
      MQTT_PORT: 1883
    depends_on:
      health:
        condition: service_completed_successfully
