---
apiVersion: v1
kind: Service
metadata:
  name: valkey
  labels:
    app: valkey
spec:
  selector:
    app: valkey
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
      protocol: TCP
