---
apiVersion: v1
kind: Service
metadata:
  name: osrm
  namespace: beacon
  labels:
    app: osrm
spec:
  selector:
    app: osrm
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      protocol: TCP
