---
apiVersion: v1
kind: Service
metadata:
  name: broker
  labels:
    app: broker
spec:
  selector:
    app: broker
  ports:
    - name: mqtt
      port: 1883
      targetPort: 1883
      protocol: TCP
