on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        include:
          - project: api
            dockerfile: build/api/Dockerfile
          - project: ingester
            dockerfile: build/ingester/Dockerfile
          - project: feed
            dockerfile: build/feed/Dockerfile
          - project: dashboard
            dockerfile: build/dashboard/Dockerfile

    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ env.REGISTRY }}/sverdejot/beacon/${{ matrix.project }}:latest # TODO: set the project tag based on real project's semver
          cache-from: type=gha
          cache-to: type=gha,mode=max
